@model ITPE3200ExamProject.ViewModels.PasswordViewModel

<form asp-action="UpdatePassword" method="post">
    <div class="mb-3 form-group">
        
        <input asp-for="OldPassword" class="form-control mx-auto w-50" placeholder="Enter old password" />
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>
    <div class="mb-3 form-group">
        
        <input asp-for="Password" class="form-control mx-auto w-50" placeholder="Enter password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3 form-group">
        
        <input asp-for="ConfirmPassword" class="form-control mx-auto w-50" placeholder="Repeat password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
</form>